<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Parcels</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
    <form action="/parcels" method="post">
        <label for="height">Enter your packages height</label>
        <input id="height" name="height" type="text">
        <label for="">Enter your packages length</label>
        <input id="length" name="length" type="text">
        <label for="width">Enter your pacakges width:</label>
        <input id="width" name="width">
        <label for="weight">Enter your packages weight</label>
        <input id="weight" name="weight">
        <button type="submit">Submit</button>
    </form>
</body>

</html>